language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache

php:
    - 5.3
    - 5.4
    - 5.5
    - 5.6
    - 7.0
    - 7.1

matrix:
    fast_finish: true
    allow_failures:
        - php: 5.3
        - php: 5.4
    include:
        - php: 5.5
        - php: 5.5
          env: PREFER_LOWEST="--prefer-lowest"
        - php: 5.6
        - php: 5.6
          env: PREFER_LOWEST="--prefer-lowest"
        - php: 7.0
        - php: 7.0
          env: PREFER_LOWEST="--prefer-lowest"
        - php: 7.1
        - php: 7.1
          env: PREFER_LOWEST="--prefer-lowest"

env:
    global:
        - PREFER_LOWEST=""

install:
    - composer update --prefer-source $PREFER_LOWEST

script:
    - vendor/bin/behat
    - vendor/bin/phpunit
